* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header, .exit-banner {
    padding: 20px 250px 50px;
}

.header {
    background-color: #1F2937;
}

.heading {
    color: #F9FAF8;
    font-size: 48px;
}

.subtext {
    color: #EFE7EB;
    font-size: 18px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

.sign-up-button {
    background-color: #3382F6;
    padding: 8px 30px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: #F9FAF8;
    width: fit-content;
}

.link {
    display: flex;
    list-style: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #EFE7EB;
    padding: 8px;
    margin: 2px;
    font-size: 18px;
}

.navbar {
    display: flex;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 100px 0;
}

.hero-text {
    width: 500px;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
}

.hero-image {
    width: 500px;
    /* flex-grow: 1; */
    background-color: #F9FAF8;
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 50px 300px;
    align-items: center;
}

.information-images {
    display: flex;
    justify-content: space-between;
}

.information-image-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    margin: 50px;
    color: #6e6e6e;
    font-size: large;
}

.information-image {
    width: 200px;
    height: 200px;
    border: 5px solid #3382F6;
    border-radius: 10%;
}

.exit-banner {
    display: flex;
    background-color: #3382F6;
}

.quote {
    background-color: #E5E7EB;
    padding: 50px 500px;
}

.quote-text {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

.quote-by {
    font-weight: bold;
    text-align: right;
    font-size: 24px;
}